# Ignore everything by default
*

# Allow directories so Git can recurse
!*/

# Keep repo metadata/docs
!.gitignore
!LICENSE
!README.md
!export/**
!pictures/**

# Keep source design files
!*.kicad_sch
!*.kicad_pcb
!*.kicad_pro
!*.dsn
